<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cash-app-stocks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73C148962A2ED84C000A2CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73C148A62A2ED84D000A2CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73C148B02A2ED84D000A2CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
